body { font-family: Arial }
#doc {
	font-family: Arial;
	background:#FEFFDA;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-width:1px;
	border-style:dotted;
	border-color:#465F91;
}
a:visited {color : #465F91; text-decoration : none; }
a:link {color : #465F91; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #5FFF88}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : #C04600 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #5C6585 }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info { margin-left : 3em; margin-right : 3em }
.code { color : #465F91 ; }
.module_title { color : #465F91;display:inline; }
h1 { font-size : 20pt ; text-align: center; }
h2 { font-size : 13pt ; border: 1px solid #CCCCCC; color:aliceblue; margin-top: 5px; margin-bottom: 2px; background-color: #465F91; }
body { background-color : White }

td.typefieldcomment { background-color : #FFFFFF }
pre { margin-bottom: 4px }
div.sig_block {margin-left: 2em}

table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
}
td, th 
{
font-size:1em;
border:1px solid #bfbfbf;
padding:3px 7px 2px 7px;
}
th 
{
font-size:1.1em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background-color:#888888;
color:#ffffff;
}
tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}